
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

<header>
<div class="container">
<div class="row menu">
  <div class="col-12 col-md-8 menu">
    <div class="col-md-3"><h2>Shortly</h2></div>
    <div class="col-md-2 ">Features</div>
    <div class="col-md-2">Pricing</div>
    <div class="col-md-2">Resources</div>
  </div>
  <div class= "col-6 col-md-4 menu">
    <div class="col-md-2 grey">Login</div>
    <div><button class="button">Sing Up</button></div>
  </div>
  </div>
</div>
</header>


<body>
<div class="titulos">
<div class="item1">
    More than just shorter links
</div> 
<div class="item3">
  Build your brand’s recognition and get detailed <br> insights 
    on how your links are performing.
</div>
<div class="item2">
    <img src="../assets/images/illustration-working.svg"  width="600" height="400">
</div>
<div class="item4"><button class="button">Get Started</button></div>
<div class="down"></div>
<div class="input"><img src="../assets/images/bg-shorten-desktop.svg" style="height:10rem; width:100rem;">
  <input type="url" class="url" placeholder="Shorten a link here...">
</div>
</div> 

</body>